/* CSS Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #FAFAFA; /* Set background to white */
}

@tailwind base;
@tailwind components;
@tailwind utilities;